html, body {
  max-width: 100%;
  min-height: 100%;
  font-size:16px;
}

body {
  background-color: white;
  font-family: proxima-nova, "Open Sans", sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #111;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8;
  margin: 0;
  text-rendering: optimizeLegibility;
}
.container {
  clear: both; }

img.responsive {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: proxima-nova, "Open Sans", sans-serif;
  font-weight: 600px;
  margin-bottom: 20px; }
  h1.red-title, h2.red-title, h3.red-title, h4.red-title, h5.red-title, h6.red-title {
    display: inline-block;
    background-color: #f70606;
    padding: 4px 15px 4px 15px;
    font-size: 1.2rem;
    font-weight: 100;
    color: white; }
  h1.collab-title, h2.collab-title, h3.collab-title, h4.collab-title, h5.collab-title, h6.collab-title {
    display: block;
    background-color: #60adb8;
    padding: 8px 15px 8px 15px;
    max-width: 100%;
    width: 600px;
    font-size: 1.8rem;
    font-weight: 300;
    color: white;
    letter-spacing: 2px;
    text-align: center;
    margin: 20px 0; }
  h1.title-span, h2.title-span, h3.title-span, h4.title-span, h5.title-span, h6.title-span {
    font-family: proxima-nova, "Open Sans", sans-serif;
    font-size: 3.4rem;
    color: #bcbcbc;
    font-weight: 100;
    padding-top: 20px;
    margin: 0;
    padding-bottom: 20px; }
    h1:not(.site-title):before, h2:before {
       background: transparent;
       content: "\020";
       display: none;
       height: 0px;
       margin: 0rem 0;
       width: 0em;
    }
    .nav-tabs {
      font-family: 'Verdana', serif;
      font-size: 16px;
      background-color: #eff8ff;
  }
  .nav-tabs a:hover, .nav-tabs a:focus {
    /* color: #fa7ca7; */
}
.button:focus, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, .navbar-light .navbar-toggler {
  background-color: transparent; }

.button:hover, button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
  background-color: #eee; }

.btn, .button, button, input[type="button"], input[type="reset"], input[type="submit"] {
  background-color: transparent;
  /* border: 1px solid #333;  */
}
.btn:hover, .btn:focus, .button:hover, .button:focus, button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
  color: #f70606;
  background-color: transparent;
  outline: none !important;
  box-shadow: none !important; }
.btn.collab-btn, .button.collab-btn, button.collab-btn, input[type="button"].collab-btn, input[type="reset"].collab-btn, input[type="submit"].collab-btn {
  background-color: #fff;
  border-color: #60ADB8;
  color: #60ADB8;
  border-radius: 0;
  border: 4px solid #60ADB8;
  text-transform: uppercase;
  margin: 10px; }
  .sub-menu.dropdown-menu{
  	padding:10px;
  	min-width: 220px;
  	/*max-width:100%;*/
  }
  .dropdown .menu-item {
      border-bottom: 1px solid #eee;
      padding: 4px 0;
  	line-height: 20px;
      font-size: 14px;
      text-transform: uppercase;
  }

a {
  color: #000;
  background-color: transparent; }
  a:hover, a:focus {
    color: #f70606;
    background-color: transparent;
    outline: none !important;
    box-shadow: none !important; }

a, a:visited, .dropdown-item{
  color: #60adb8;
}
.btn.focus, .btn:focus {
  outline: none !important;
  box-shadow: none !important; }

.backtotop {
  position: absolute;
  top: -100px;
  left: 100%;
  font-size: 12px;
  width: 120px;
  border: 1px solid #fefefe; }

.showcase-navigation {
  font-family: proxima-nova, "Open Sans", sans-serif;
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 100px;
  color: #bcbcbc; }
  .showcase-navigation .previous, .showcase-navigation .next {
    display: inline-block; }
  .showcase-navigation .previous a, .showcase-navigation .previous a:link, .showcase-navigation .previous a:visited, .showcase-navigation .next a, .showcase-navigation .next a:link, .showcase-navigation .next a:visited {
      color: #bcbcbc; }
  .showcase-navigation .split {
    display: inline-block;
    padding: 0 20px; }

h2 {
  /* font-size: 3rem; */
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
  letter-spacing: 2px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0px; }
.site-content{
      text-align: left;
}
.center {
  text-align: center; }

.m20 {
  margin-bottom: 20px; }

.m40 {
  margin-bottom: 40px; }

.m60 {
  margin-bottom: 60px; }

.m80 {
  margin-bottom: 80px; }

.m100 {
  margin-bottom: 100px; }

.m120 {
  margin-bottom: 120px; }

.pad20 {
  padding-top: 20px; }

.pad40 {
  padding-top: 40px; }

.pad60 {
  padding-top: 60px; }

.pad80 {
  padding-top: 80px; }

.pad100 {
  padding-top: 100px; }

.pad120 {
  padding-top: 120px; }

.text-indent {
  position: absolute;
  text-indent: -3800px; }

.thumbnail {
  height: auto;
  max-width: 100%;
  display: inline-block;
  padding: 20px; }

.header {
  background: #fbfbfb; }
  .header .navbar {
    width: 100%; }
    .header .navbar .collapse {
      border: none; }

.page-id-32 .header {
  position: relative;
  background-color: #60adb8;
  color: #fff;
  margin-bottom: -1px;
  padding-bottom: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0; }
  .page-id-32 .header .container-fluid:first-child {
    background: #fff; }
  .page-id-32 .header .navbar-light {
    z-index: 100; }
  .page-id-32 .header h2 {
    font-size: 2rem;
    padding: 10px 0; }
  .page-id-32 .header:before {
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 120px;
    display: block;
    visibility: visible;
    content: '';
    background: url("../img/ripoff.png") bottom center no-repeat;
    background-size: cover;
    z-index: 10; }
  .page-id-32 .header:after {
    position: absolute;
    top: 55px;
    left: 0px;
    width: 100%;
    height: 150px;
    display: block;
    visibility: visible;
    content: '';
    background: url(../img/ripoff_flip.png) bottom center no-repeat;
    background-size: cover;
    z-index: 10; }

.page_template_showcase .header, .page_tamplate_code .header {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f6f6f6+0,ffffff+50,ffffff+50,ededed+100 */
  background: #f6f6f6;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #f6f6f6 0%, white 50%, white 50%, #ededed 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #f6f6f6 0%, white 50%, white 50%, #ededed 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #f6f6f6 0%, white 50%, white 50%, #ededed 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ededed',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.home .header {
  background: #fff; }

#filter-nav {
  font-family: proxima-nova, "Open Sans", sans-serif;
  font-size: .9rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: -15px; }
  #filter-nav *, #filter-nav *:after, #filter-nav *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #filter-nav .btn, #filter-nav button, #filter-nav a {
    border: none;
    outline: none;
    box-shadow: none;
    font-family: proxima-nova, "Open Sans", sans-serif;
    font-size: .9rem;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin: 20px 0px;
    outline: none;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3); }
    #filter-nav .btn:hover, #filter-nav .btn:focus, #filter-nav button:hover, #filter-nav button:focus, #filter-nav a:hover, #filter-nav a:focus {
      outline: none; }
  #filter-nav.bold .btn, #filter-nav.bold button, #filter-nav.bold a {
    font-family: proxima-nova, "Open Sans", sans-serif;
    font-size: .9rem;
    font-weight: 600;
    text-transform: uppercase; }
    #filter-nav.bold .btn:hover, #filter-nav.bold .btn:focus, #filter-nav.bold button:hover, #filter-nav.bold button:focus, #filter-nav.bold a:hover, #filter-nav.bold a:focus {
      background-color: transparent;
      border: none;
      color: #f70606;
      outline: none;
      box-shadow: none; }
  #filter-nav .txt-effect a, #filter-nav .txt-effect button {
    overflow: hidden;
    /* padding: 0 4px; */
    height: 2em; }
    #filter-nav .txt-effect a span, #filter-nav .txt-effect button span {
      position: relative;
      display: inline-block;
      -webkit-transition: -webkit-transform 0.3s;
      -moz-transition: -moz-transform 0.3s;
      transition: transform 0.3s; }
      #filter-nav .txt-effect a span::before, #filter-nav .txt-effect button span::before {
        position: absolute;
        top: 100%;
        content: attr(data-hover);
        /* text comes from data attrbuite */
        /* font-weight: 700; */
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
    #filter-nav .txt-effect a:hover span, #filter-nav .txt-effect a:focus span, #filter-nav .txt-effect button:hover span, #filter-nav .txt-effect button:focus span {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      transform: translateY(-100%); }

.hero {
  /* font-family: proxima-nova, "Open Sans", sans-serif; */
  font-size: 1.5rem;
  padding-top: 120px;
}
  .hero h1 {
    font-size: 1.2rem;
    font-weight: 400; }
  .hero h2 {
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 13px; }
  .hero img.showcase {
    width: 100%; }

.showcase .hero {
  /* background: #f2f1f1; */
  position: relative; }

.content {
  background: #fff;
  padding-top: 100px;
  padding-bottom: 100px; }
  .content img.responsive {
    max-width: 100%;
    width: 800px; }
  .content h2 {
    font-family: proxima-nova, "Open Sans", sans-serif;
    letter-spacing: 2px;
    font-weight: 100px;
    color: #bcbcbc; }
.section-zero {background-color: #000;color: white;}
.section-zero-gallery {background-color: fafafa;}
.section-zero img, .section-zero-gallery img{max-width:100%;}
.section-zero-gallery svg{max-width:100%; background-color:#fff;}
.section-one {
  background: #fff; }

.section-two {
  background: #f4f4f4; }

.section-descr {
  background: #f4f4f4; }
  .section-descr h3 {
    font-size: 1.2rem;
    font-weight: 700;
  }

      .blocks-gallery-grid:not(.has-nested-images),
      .block-gallery:not(.has-nested-images) {
          display: flex;
          flex-wrap: wrap;
          list-style-type: none;
          margin: 0;
          padding: 0
      }

      .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-image,
      .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-item,
      .block-gallery:not(.has-nested-images) .blocks-gallery-image,
      .block-gallery:not(.has-nested-images) .blocks-gallery-item {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          justify-content: center;
          margin: 0 1em 1em 0;
          position: relative;
          width: calc(50% - 1em)
      }

      .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-image:nth-of-type(2n),
      .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-item:nth-of-type(2n),
      .block-gallery:not(.has-nested-images) .blocks-gallery-image:nth-of-type(2n),
      .block-gallery:not(.has-nested-images) .blocks-gallery-item:nth-of-type(2n) {
          margin-right: 0
      }

      .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-image figure,
      .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-item figure,
      .block-gallery:not(.has-nested-images) .blocks-gallery-image figure,
      .block-gallery:not(.has-nested-images) .blocks-gallery-item figure {
          align-items: flex-end;
          display: flex;
          height: 100%;
          justify-content: flex-start;
          margin: 0
      }

      .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-image img,.blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-item img,
      .block-gallery:not(.has-nested-images) .blocks-gallery-image img,
      .block-gallery:not(.has-nested-images) .blocks-gallery-item img {
          display: block;
          height: auto;
          max-width: 100%;
          width: auto
      }

      .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-image figcaption,
      .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-item figcaption,
      .block-gallery:not(.has-nested-images) .blocks-gallery-image figcaption,
      .block-gallery:not(.has-nested-images) .blocks-gallery-item figcaption {
          background: linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);
          bottom: 0;
          box-sizing: border-box;
          color: #fff;
          font-size: .8em;
          margin: 0;
          max-height: 100%;
          overflow: auto;
          padding: 3em .77em .7em;
          position: absolute;
          text-align: center;
          width: 100%;
          z-index: 2
      }

      .blocks-gallery-grid:not(.has-nested-images)
      .blocks-gallery-image figcaption img,
      .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-item figcaption img{
          display: inline;
      }
      .blocks-gallery-grid:not(.has-nested-images) figcaption{
          flex-grow: 1
      }
      .blocks-gallery-grid:not(.has-nested-images).is-cropped .blocks-gallery-image a,
      .blocks-gallery-grid:not(.has-nested-images).is-cropped .blocks-gallery-image img,
      .blocks-gallery-grid:not(.has-nested-images).is-cropped .blocks-gallery-item a,
      .blocks-gallery-grid:not(.has-nested-images).is-cropped .blocks-gallery-item img,
     {
          flex: 1;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
          width: 100%
      }

      .blocks-gallery-grid:not(.has-nested-images).columns-1 .blocks-gallery-image,
      .blocks-gallery-grid:not(.has-nested-images).columns-1 .blocks-gallery-item,
      .block-gallery:not(.has-nested-images).columns-1 .blocks-gallery-image,
      .block-gallery:not(.has-nested-images).columns-1 .blocks-gallery-item {
          margin-right: 0;
          width: 100%
      }
.block-gallery:not(.has-nested-images) .blocks-gallery-item figure {
    align-items: flex-end;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    margin: 0;
}
.block-gallery:not(.has-nested-images).is-cropped .blocks-gallery-item img{
  flex: 1;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}
.table {
  border: none; }
  .table.list > tbody > tr {
    width: 100%;
    display: table-row;
    background: #fff;
    border: none; }
    .table.list > tbody > tr.filterDiv {
      display: none;
      /* Hidden by default */ }
    .table.list > tbody > tr.show {
      display: table-row; }
    .table.list > tbody > tr:nth-child(odd) .item {
      background: #eee; }
    .table.list > tbody > tr > td {
      padding: 0 0 0 0;
      border: none; }
      .table.list > tbody > tr > td > div.item:first-child a:first-child {
        padding: 10px;
        text-align: left;
        display: block;
        position: relative;
        color: #000; }
        .table.list > tbody > tr > td > div.item:first-child a:first-child:visited {
          color: #000; }
      .table.list > tbody > tr > td .title {
        font-family: "Open Sans", sans-serif;
        margin-bottom: 20px;
        font-weight: 500;
        line-height: 1.2;
        font-size: 24px;
        text-transform: uppercase; }
      .table.list > tbody > tr > td .list td {
        padding: 5px; }

.component .item-title {
  font-family: proxima-nova, "Open Sans", sans-serif;
  font-size: 1.5rem; }

.expand-animate .linkname {
  text-align: left;
  width: 96%;
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.expand-animate .svg {
  text-align: right;
  display: inline-block; }
  .expand-animate .svg svg {
    opacity: 1;
    transition: opacity .3s ease;
    max-width: 100% !important; }
  .expand-animate .svg .st0 {
    fill: none !important;
    stroke-width: 11;
    stroke-miterlimit: 10; }
  .expand-animate .svg .st1 {
    transition: transform .3s ease; }
    .expand-animate .svg .st1:first-child {
      transform: scaleX(50%);
      transform: scaleY(50%);
      transform: rotate(0deg);
      opacity: 0; }
    .expand-animate .svg .st1:nth-child(2) {
      transform: scaleX(50%);
      transform: scaleY(50%);
      transform: rotate(0deg); }

.expand-animate:hover {
  text-decoration: none;
  opacity: 1; }
  .expand-animate:hover svg .st1:first-child {
    transform: rotate(0deg); }
  .expand-animate:hover svg .st1:nth-child(2) {
    transform: rotate(0deg); }

.expand-animate.collapsed {
  text-decoration: none; }
  .expand-animate.collapsed .linkname {
    -webkit-transform: translateX(-180px);
    transform: translateX(-180px); }
  .expand-animate.collapsed .svg svg {
    opacity: 0; }
    .expand-animate.collapsed .svg svg .st1:first-child {
      transform: scaleX(50%);
      transform: scaleY(50%);
      transform: rotate(0deg);
      opacity: 1; }
    .expand-animate.collapsed .svg svg .st1:nth-child(2) {
      transform: scaleX(50%);
      transform: scaleY(50%);
      transform: rotate(0deg); }
  .expand-animate.collapsed:hover {
    text-decoration: none; }
    .expand-animate.collapsed:hover svg {
      opacity: 1; }
    .expand-animate.collapsed:hover svg .st1:first-child {
      transform: rotate(0deg);
      opacity: 1; }
    .expand-animate.collapsed:hover svg .st1:nth-child(2) {
      transform: rotate(0deg); }

.filterDiv {
  display: none;
  /* Hidden by default */ }

/* The "show" class is added to the filtered elements */
.show {
  display: block; }

.collapse {
  /* border-top: 1px solid #dee2e6;  */
}
  .collapse .card-body {
    background: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px; }

ul.list {
  padding: 0; }
  ul.list > li {
    background: #fff;
    padding: 10px;
    list-style: none; }
    ul.list > li.show {
      display: block; }
    ul.list > li:nth-child(odd) {
      background: #eee; }

.odd > .item {
  font-weight: 400;
  line-height: auto;
  background: #fff;
  padding: 10px 20px;
  list-style: none;
  border: 1px solid #f4f4f4;
  font-size: 16px; }
  .odd > .item.show {
    display: block; }
  .odd > .item:nth-child(odd) {
    background: #eee; }
  .odd > .item img {
    padding-right: 10px;
    vertical-align: middle;
    border-style: none; }

.even > .item {
  font-weight: 400;
  line-height: auto;
  background: #eee;
  padding: 10px 20px;
  list-style: none;
  border: 1px solid #f4f4f4;
  font-size: 16px; }
  .even > .item.show {
    display: block; }
  .even > .item:nth-child(odd) {
    background: #fff; }
  .even > .item img {
    padding-right: 10px;
    vertical-align: middle;
    border-style: none; }

.contact {
  font-size: 20px; }
  .contact h3 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600; }
  .contact a {
    font-weight: 400;
    line-height: auto;
    color: #000;
    text-decoration: none; }

.showcase-thumbs {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  clear: both; }
  .showcase-thumbs .item {
    padding: 0;
    margin: 0;
    width: 50%;
    display: inline-table;
    position: relative;
    float: left; }
    .showcase-thumbs .item a {
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      display: inline-block; }
    .showcase-thumbs .item img {
      padding: 0;
      margin: 0;
      width: 100%;
      height: auto;
      z-index: 1; }
    .showcase-thumbs .item p {
      font-weight: 100;
      color: #fff;
      z-index: 10;
      background: #606060;
      bottom: 40px;
      position: absolute;
      width: 100%;
      padding: 4px;
      text-transform: uppercase; }
      .showcase-thumbs .item p a {
        color: #fff;
        display: inline; }
        .showcase-thumbs .item p a.hyperproj {
          margin: 0 30px 0 100px;
          font-weight: 700; }
        .showcase-thumbs .item p a:visited, .showcase-thumbs .item p a:focus {
          color: #fff; }
        .showcase-thumbs .item p a:hover {
          color: #f70606; }

.work {
  margin-bottom: 40px;
  font-size: 16px;
  min-height: 600px; }
  .work h3.title {
    padding: 10px 0;
    font-size: 16px; }
  .work .row .container {
    border: 1px solid #eee; }
    .work .row .container .row {
      padding: 10px; }
.breadcrumb{
	font-size: 16px;
	background-color:transparent !important;
	padding:2px;
	margin:0;
	position:absolute;
	top: 10px;
    right: 10px;
}
.showcase-content{
	position:relative;
}
#footer {
  padding-top: 40px;
  padding-bottom: 40px;
  clear: both;
  background: #1f252d;
  color: #fff; }
  #footer h2 {
    font-size: 21px;
    margin: 0;
    padding: 0; }
  #footer a {
    color: #fff; }
    #footer ahover, #footer avisited, #footer afocus {
      color: #fff; }

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  html, body {
    width: 100%;
    height: auto; }
  .header {
    max-width: 100%;
    overflow-y: hidden; }
  * {
    max-width: 100%; }
  .row {
    display: inline-block;
    margin-left: 0 !important; }
  .backtotop {
    left: 65%;
    font-size: .8rem; }
  h1, h2, h3, h4 {
    font-size: 1.5rem; }
  .hero h2 {
    font-size: 1.8rem;
    letter-spacing: 2px; }
  .showcase-thumbs .item p {
    display: none; }
  #filter-nav .btn, #filter-nav button, #filter-nav a {
    display: block; }
  .work .filterDiv {
    display: inline-block; } }
    .blocks-gallery-grid:not(.has-nested-images),.wp-block-gallery:not(.has-nested-images) {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      margin: 0;
      padding: 0
  }
  
  .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-image,.blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-item,.wp-block-gallery:not(.has-nested-images) .blocks-gallery-image,.wp-block-gallery:not(.has-nested-images) .blocks-gallery-item {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
      margin: 0 1em 1em 0;
      position: relative;
      width: calc(50% - 1em)
  }
  
  .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-image:nth-of-type(2n),.blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-item:nth-of-type(2n),.wp-block-gallery:not(.has-nested-images) .blocks-gallery-image:nth-of-type(2n),.wp-block-gallery:not(.has-nested-images) .blocks-gallery-item:nth-of-type(2n) {
      margin-right: 0
  }
  
  .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-image figure,.blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-item figure,.wp-block-gallery:not(.has-nested-images) .blocks-gallery-image figure,.wp-block-gallery:not(.has-nested-images) .blocks-gallery-item figure {
      align-items: flex-end;
      display: flex;
      height: 100%;
      justify-content: flex-start;
      margin: 0
  }
  
  .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-image img,.blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-item img,.wp-block-gallery:not(.has-nested-images) .blocks-gallery-image img,.wp-block-gallery:not(.has-nested-images) .blocks-gallery-item img {
      display: block;
      height: auto;
      max-width: 100%;
      width: auto
  }
  
  .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-image figcaption,.blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-item figcaption,.wp-block-gallery:not(.has-nested-images) .blocks-gallery-image figcaption,.wp-block-gallery:not(.has-nested-images) .blocks-gallery-item figcaption {
      background: linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);
      bottom: 0;
      box-sizing: border-box;
      color: #fff;
      font-size: .8em;
      margin: 0;
      max-height: 100%;
      overflow: auto;
      padding: 3em .77em .7em;
      position: absolute;
      text-align: center;
      width: 100%;
      z-index: 2
  }
  
  .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-image figcaption img,.blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-item figcaption img,.wp-block-gallery:not(.has-nested-images) .blocks-gallery-image figcaption img,.wp-block-gallery:not(.has-nested-images) .blocks-gallery-item figcaption img {
      display: inline
  }
  
  .blocks-gallery-grid:not(.has-nested-images) figcaption,.wp-block-gallery:not(.has-nested-images) figcaption {
      flex-grow: 1
  }
  
  .blocks-gallery-grid:not(.has-nested-images).is-cropped .blocks-gallery-image a,.blocks-gallery-grid:not(.has-nested-images).is-cropped .blocks-gallery-image img,.blocks-gallery-grid:not(.has-nested-images).is-cropped .blocks-gallery-item a,.blocks-gallery-grid:not(.has-nested-images).is-cropped .blocks-gallery-item img,.wp-block-gallery:not(.has-nested-images).is-cropped .blocks-gallery-image a,.wp-block-gallery:not(.has-nested-images).is-cropped .blocks-gallery-image img,.wp-block-gallery:not(.has-nested-images).is-cropped .blocks-gallery-item a,.wp-block-gallery:not(.has-nested-images).is-cropped .blocks-gallery-item img {
      flex: 1;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%
  }
  
  .blocks-gallery-grid:not(.has-nested-images).columns-1 .blocks-gallery-image,.blocks-gallery-grid:not(.has-nested-images).columns-1 .blocks-gallery-item,.wp-block-gallery:not(.has-nested-images).columns-1 .blocks-gallery-image,.wp-block-gallery:not(.has-nested-images).columns-1 .blocks-gallery-item {
      margin-right: 0;
      width: 100%
  }
